{{! TODO: Change all instances of 'project' to 'item' (keep same pluralization & capitalization) }}
{{! TODO: Contextually change 'needed-funding' to 'item-price' }}
{{! TODO: Item previews should only show an image, the item name, and price. Users must login to view item details }}

<!-- Loop over each object in the items array -->

{{#each items as |item|}}
  <div class='row mb-4 item'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        {{!-- {{{get_emoji}}} --}}
        <a href='/item/{{item.id}}'>{{item.name}}</a>
      </h2>
      <p>
        <span for='img' aria-label='money'>💲</span>
        <!-- Pass item price value to the helper function -->
        <span class='dollar-amount'>{{format_amount item.item_price}}</span>
      </p>
      <p>Listed by
        {{item.user.name}}
        on
        {{format_date item.date_created}}</p>
    </div>
    <div class='col-md-7'>
      <p>
        {{item.description}}
      </p>
      {{#if image}}
        <img src="{{image}}" alt="Item Image">
      {{/if}}
    </div>
  </div>
{{/each}}


