<!-- Loop over each object in the items array -->
{{#each items as |item|}}
  <div class='row mb-4 item'>
    <div class='col-md-5'>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <!-- {{{get_emoji}}} -->
        <a href='/item/{{item.id}}'>{{item.name}}</a>
      </h2>
      <p>Price:
        <!-- Pass item price value to the helper function -->
        <span class='dollar-amount'>${{format_amount item.item_price}}</span>
      </p>
      <p>Date Listed:
        {{format_date item.date_created}}</p>
    </div>
    <div class='col-md-7'>
      {{#if image}}
        <img
          src='{{image}}'
          alt='Item Image'
          style='max-width: 100%; height: auto;'
        />
      {{/if}}
    </div>
  </div>
{{/each}}