<div class='text-center'>
  {{#if logged_in}}
    <h2>{{name}}</h2>
    <img
      src='{{image}}'
      alt='Item Image'
      style='max-width: 100%; height: auto;'
    />
    <p>{{description}}</p>
    <p>Listed by {{user.name}} on {{format_date date_created}}</p>
    <p>
      Price:
      <span class='dollar-amount'> ${{format_amount item_price}}</span>
    </p>
    <div id='contact-info'>
      <p>Contact Seller:</p>
      <p>Email: {{user.email}}</p>
      <p>Phone: {{user.phone}}</p>
    </div>
    <p>
      <button id='toggle-contact-info' class='btn btn-primary'>Contact Seller</button>
      <button type="submit" id='toggle-contact-info' class='btn btn-primary edit-button'>Edit Listing</button>  
    </p>
  {{else}}
    <a
      id='login-link'
      href='#'
      onclick='redirectToLoginPage(); return false;'
    >Login or Sign Up to See More</a>

  {{/if}}
</div>
{{!-- update listing --}}
<div class='row mt-4'>
  <div class='col-md-6'>

    <form class='form update-item-form' style ="display:none">
        <h3> Update Listing:</h3>
      <div class='form-group'>
        <label for='update-item-name'>item name:</label>
        <input class='form-input' type='text' id='update-item-name' name='update-item-name' />
      </div>
      <div class='form-group'>
        <label for='update-item-price'>item price ($):</label>
        <input
          class='form-input'
          type='number'
          id='update-item-price'
          name='update-item-price'
        />
      </div>
      <div class='form-group'>
        <label for='update-item-desc'>item description:</label>
        <textarea class='form-input' id='update-item-desc' name='update-item-desc'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Update Listing</button>
      </div>

    </form>
  </div>
  </div>

<script src="/js/update.js">
</script>
